* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body h1, h2{
    margin: 10px;
}

#container{
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    max-width: 600px;
    display: flex;
    flex-direction: column;

}

.form-container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}
#number-contain{
    display: flex;
    flex-direction: column;
}
#number-contain input{
    padding: 5px;
}

#options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid;
}

.buttons .options{
    padding: 5px 15px;
    font-size: 1.2rem;
    box-shadow: 0 0 3px #333;
}
.options:hover{
    background-color: rgb(44, 207, 18);
    transition: 0.2s;
    border: 2px solid #fff;
}

#botoes{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
#botoes button{
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
}
#botoes button:hover{
    background-color: #555;
    color: #fff;
}

#output{
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
#saida-dados{
    margin-top: 15px;
    max-width: 300px;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#saida-dados p{
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px 20px;
    color: #333;
    text-align: center;
    font-weight: 400;
}


#tb-complet{
    max-width: 400px;
    padding: 10px;
    gap: 10px;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    margin: 10px auto;
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}

#tb-complet div{
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
}



#tb-complet h4{
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    font-family: Helvetica;
}

#tb-complet p{
    color: #333;
    padding: 5px;
    border-bottom: 1px solid;
} 